body{
    background-image: url(../img/creds-logo/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 0; */
}

.page{
    background-color: rgba(255, 255, 255, 0);
    /* z-index:-1 */
}

.card img{
    width:100%;
    height: 100%;
    display: flex;
    padding:1rem;
}

.card .row{
    height: 100%;
    flex-wrap: nowrap;
}

.page-container h1, .page-links a{
    color: rgb(255, 255, 255);
}

body{
    background-color: rgb(221, 221, 221);
}

.card{
    box-shadow: 2px 2px 5px black;
    transition: box-shadow 0.2s ease;
    display: inline-flex;
    width:45%;
    margin-right: 2rem;
    height: 20vh;
    opacity: 0;
    animation-name: rotatefadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: rgba(255, 255, 255, 0.979);
}

.card:hover{
    box-shadow: 7px 7px 10px black;
}

.page-container{
    text-align: center;
}

.page-links{
    margin-top: 1rem;
    height: 2rem;
    padding-bottom: 2rem;
}

.rotatefadein{
    opacity: 1;
}

@media only screen and (max-width: 1024px){
    .card{
        width:100%;
    }

    .row{
        flex-wrap: nowrap;
    }
}

@keyframes rotatefadein{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.card:nth-child(1){
    animation-delay: 0.2s;
}


.card:nth-child(2){
    animation-delay: 0.2s;
}

.card:nth-child(3){
    animation-delay: 0.4s;
}

.card:nth-child(4){
    animation-delay: 0.6s;
}

.card:nth-child(5){
    animation-delay: 0.8s;
}

.card:nth-child(6){
    animation-delay: 1s;
}

.card:nth-child(7){
    animation-delay: 1.2s;
}

.card:nth-child(8){
    animation-delay: 1.4s;
}

.card:nth-child(9){
    animation-delay: 1.6s;
}

.card:nth-child(10){
    animation-delay: 2s;
}